 // ---------------------------------------------
 /*Fonts*/
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat-Regular'), url(../fonts/aboutus/Montserrat-Regular.woff2) format('woff2');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat-Bold'), url(../fonts/aboutus/Montserrat-Bold.woff2) format('woff2');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  src: local('Montserrat-Light'), url(../fonts/aboutus/Montserrat-Light.woff2) format('woff2');
}
 // ---------------------------------------------
.about-us  .more-views li,  .product-view   .more-views li { float:left; margin:0 0 8px 9px;    list-style: none outside none;}
.syntaxhighlighter .toolbar, .toolbar_item.command_help {display:none;} 
.cms-call-for-price-installation-html .std p,
.cms-special-product-installation-html .std p,
.cms-widget-email-product-template-example-html .std p,
.cms-product-page-tabs-instructions-html .std p,
.cms-configurable-images-switcher-installation-html .std p,
.cms-free-gift-manual-html .std p,
{ margin: 0 0 0.3em;}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}  
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
 // ---------------------------------------------

.catalog-product-view {
	.qanda-title, .qanda-ask-title {font-size:15px;}
	.product-options {
		 .support-option label:hover,
		 .support-option label {background-color: #fff;}
		 
		 .support-option  dd { border-bottom:0px;}
		 .support-option label { width:auto; padding-left:25px;}
		 .support-option input.checkbox.product-custom-option {margin-left:0px;} 
	 } 
} 
// ---------------------------------------------

.cms-index-index {
  .banners {
     min-height:1px;
     overflow:auto;
     div {float:left;}
     padding-bottom:15px;
     .left-banner {width:46.5%; margin-right:6.8%;}
  }
}
  
.std { 
   ul.products-grid {
    list-style: outside none none;
    li {
      margin-left:0px;
    }
  }
} 
// ---------------------------------------------

.page-header-container {
   min-height: 1px;
   overflow:visible;
  .left-contanier {
    float:left;
    width:15%;
    .logo {width:100%;}
  }
  
  .right-container {
    float:right;
    width:85%;
    min-height: 1px;
    overflow:visible;
    padding-top: 20px;
    padding-bottom: 20px;
    
    #header-search { 
        position:inherit;
        width: 42%;
        float:right;
      }
      
    .skip-links {
      float:right;
      clear: none;
      .account-cart-wrapper{
        position:inherit;
      }
    }
    
    #header-account.skip-active {   right: 48%; top: 65px;  z-index: 1000;}
    #header-cart.skip-active {  right: 34%; top: 65px;  z-index: 1000; }
 
    .store-language-container {float:right;}
  }
}
// ---------------------------------------------

    @include bp(max-width, $bp-medium + 1) {
      .page-header-container {
        overflow:auto;
        min-height:90px;
        
         .left-contanier {
            width:30%;
         }
         
          .right-container {
             width:70%;
             
             #header-search { 
              left: 0;
              top: 49px;
              float:none;
              position: absolute;
              width:100%;
            }
            #header-search {background:none;}
            .store-language-container {float:left;}
            #header-account.skip-active {
              position:absolute;
              right:1%;
            }
          }
           
          .skip-links {width: 160px;  margin-right: 30px; border-bottom: none;}
          .skip-link { width: 40px;}
          .skip-link .label {display:none;}         
          .header-minicart .block-cart {background:none;}
      }
    }
// ---------------------------------------------
//GENREAL STYLES    
label {font-weight:400;}
.page-title h1, .page-title h2, .product-name h1, .product-name .h1 {font-weight:200;}
.cms-index-index h2.subtitle  {font-weight:200;}
.nav-primary a {font-weight:200;}
.skip-link {font-weight:200; }
#search {font-weight:200; }
.footer, .footer button  {font-weight:200; }
.block-related .block-title h2 {font-weight:200; }
.cart .cart-totals table {font-weight:200; }
.cart .cart-totals table tfoot strong { font-weight:200;}
.button2 span, .button2 span span {text-decoration:none;}
.header-minicart .product-details .product-name {font-weight:200; }
.header-minicart .product-details a  { font-weight:200; }
