var/*
!/var/package/
cn/*
ru/*
.htaccess
LICENSE.html
LICENSE*
.htaccess.sample
sitemap.xml
blog/wp-config.php
index.php.sample
php.ini.sample
media/captcha/*
media/catalog/*
media/css/*
media/css_secure/*
media/customer/*
media/dhl/*
media/downloadable/*
media/email/*
media/js/*
media/tmp/*
media/xmlconnect/*
media/files/*
blog/wp-content/cache/*
/.sass-cache/*
skin/frontend/default/sashasv2/.sass-cache/
blog/sitemap-video.xml
downloader/.cache/
blog/error_log
dist/
magento_optimize/
test.php
v.php
RELEASE_NOTES.txt
node_modules/
.project
.buildpath
README.md.save
media/sales/
