<?xml version="1.0"?>
<!--
/**
 * @author		Sashas
 * @category    Sashas
 * @package     Sashas_Randnew
 * @copyright   Copyright (c) 2014 Sashas IT Support Inc. (http://www.sashas.org)
 * @license    http://opensource.org/licenses/GPL-3.0  GNU General Public License, version 3 (GPL-3.0)
 */
-->
<config>
    <modules>
        <Sashas_Randnew>
            <version>0.1.1</version>
        </Sashas_Randnew>
    </modules>
	<global>
         <blocks>
        	<randnew>
        		<class>Sashas_Randnew_Block</class>        		
        	</randnew>
        	<catalog>
        		<rewrite> 
        			<product_new>Sashas_Randnew_Block_New</product_new>
        		</rewrite>
        	</catalog>
        </blocks> 
        <helpers>
        	<randnew>
        		<class>Sashas_Randnew_Helper</class>        		
        	</randnew>
        </helpers>      
		<resources>
            <randnew_setup>
                <setup>
                    <module>Sashas_Randnew</module>                 
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </randnew_setup>
            <randnew_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </randnew_write>
            <randnew_read>
                <connection> 
                    <use>core_read</use>
                </connection>
            </randnew_read>
		</resources>                         
	</global>	  	   
</config>


