/*
 Theme Name:   Magento Child
 Theme URI:    http://www.extensions.sashas.org/blog/
 Description:  Magento Child Theme
 Author:       Alex Lukyanau
 Author URI:   http://www.extensions.sashas.org
 Template:     twentytwelve
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         magento
 Text Domain:  twentytwelve-child
*/

body .site {max-width: 90.5714rem;  box-shadow: none; margin-top:0px; padding-top: 160px;}
.single-post .site-content, .page .site-content {
    width: 100%;
}

article header {position:relative;}
.site-content { margin: 1.014285714rem 0 0; }
 .widget-area { margin-bottom: 1.428571429rem; } 
.entry-content .more-link {
 	white-space: nowrap;
	float: right;
	padding-right: 30px;
	font-family: "Raleway","Helvetica Neue",Verdana,Arial,sans-serif;
    font-size: 12px;
    text-transform: uppercase;
}

.widget-area .widget a {
	font-family: "Raleway","Helvetica Neue",Verdana,Arial,sans-serif;
	color: #636363;
 }
 
.widget-area .widget h3 {
	font-family: "Raleway","Helvetica Neue",Verdana,Arial,sans-serif;
 	font-size: 12px;
 	text-transform: uppercase;
} 
