<?xml version="1.0"?>
<config>
    <modules>
        <Magebuzz_Customoption>
            <version>0.1.1</version>
        </Magebuzz_Customoption>
    </modules>
    <global>
        <resources>
            <customoption_setup>
                <setup>
                    <module>Magebuzz_Customoption</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </customoption_setup>
            <customoption_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </customoption_write>
            <customoption_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </customoption_read>
        </resources>
        <blocks>
            <customoption>
                <class>Magebuzz_Customoption_Block</class>
            </customoption>
			<catalog>
				<rewrite>
					<product_view_options_type_select>Magebuzz_Customoption_Block_Catalog_Product_View_Options_Type_Select</product_view_options_type_select>
				</rewrite>
			</catalog>
			<googleanalytics>
				<rewrite>
					<ga>Magebuzz_Customoption_Block_Ga</ga>
				</rewrite>
			</googleanalytics>
        </blocks>
        <helpers>
            <customoption>
                <class>Magebuzz_Customoption_Helper</class>
            </customoption>
        </helpers>
    </global>
</config>